<!-- _admin.html.erb-->
<h1>Hi Admin</h1>

<div class="container-fluid col-md-12">

	<div class="pending-homepage row">

		<%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>

	</div>

</div>

