<!-- _employee.html.erb -->
<!-- <h1>Hi Employee</h1> -->
<div class="container-fluid">
	<div class="row">

		<div class="jumbotron col-md-6 column employee-blocks">
			test
		</div>
	<!-- </div> -->

	<!-- <div class="row"> -->
		<div class="jumbotron col-md-6 column employee-blocks">
			test
		</div>

	</div>

</div>