<div class="jumbotron">
	<h2>
		Hello, world!
	</h2>
	<p>
		This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
	</p>
	<p>
		<a class="btn btn-primary btn-large" href="#">Learn more</a>
	</p>
</div>

<%# if current_user_admin?(current_user) %> <!-- OK -->
<%# if current_user.try(:type) == 'AdminUser' %> <!-- OK -->
<% if admin_user?(current_user) %>
	<%= render 'admin' %>
<% else %>
	<%= render 'employee' %>
<% end %>





