<h1>Posts</h1>

<div class="container">

  <table class="table table-strip table-hover">

    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>User</th>
        <th>Rational</th>
      </tr>
    </thead>

    <tbody>
      <%= render 'post' %>
    </tbody>

  </table>

</div>


