<h1>Posts</h1>

<div class="container col-sm-12">
  <table class="table table-strip table-hover">

    <thead>
      <tr>
        <th>OT Request</th>
        <th>#</th>
        <th>Date</th>
        <th>User</th>
        <th>Rational</th>
        <th>Status</th>
        <th>  </th>
        <th>  </th>
      </tr>
    </thead>

    <tbody>
      <%= render 'post' %>
    </tbody>

  </table>
</div>

<%= paginate @posts %>
