
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Rationale</th>
        <th>status</th>
        <th>Overtime Request</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @post.date %></td>
        <td><%= @post.rational %></td>
        <td><%= @post.status %></td>
        <td><%= @post.overtime_request %></td>
      </tr>
    </tbody>
  </table>
</div>

