// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index-icon {
	font-size: 1.5em; //larger em is 1.5%
}

.index-icon:hover {
	text-decoration: none; //remove underline
	color: black;
}

